In [9]:
a=int(input("enter the number:"))
type (a)

enter the number:5

int

In [3]:
a=float(input("enter the number:"))
type (a)
a

enter the number:6

float

In [14]:
a=input().split()
type(a)

5 2 4 8

list

In [17]:
a=eval('print(55.9)')
a

-55.9

In [3]:
a=int(input("enter a:"))
b=int(input("enter b:"))
c=int(input("enter c:"))
d=int(input("enter d:"))
e=int(input("enter e:"))
first=(a+b)
second=(c*d)
third=(first+second-e)
third

31

In [ ]:

a=input().split()
first=(int(a[0])/int(a[1]))
second=(int(a[2])//int(a[3]))
third=(int(a[4])**2)
forth=(first%second%int(a[4]))
forth

In [ ]:
a=input().split()
first=(int(a[0])/int(a[1]))
second=(int(a[2])//int(a[3]))
third=(first%second%int(a[4]))
third

In [12]:
x = 1
print (not(x > 3 or  x < 10))

False

In [29]:
age=24
txt="my name is harish and i am {} {} years old"
print(txt.format(age,'fucking'))

my name is harish and i am 24 fucking years old

In [ ]:
a=input("enter the string:")
b=input("enter the string:")
a+b

In [29]:
a=[1,5,6,1,8,4,2,2]
b=[]
for i in a:
    if i not in b:
        b+=i

4

In [ ]:
v="iabvjsv iufbuWwduF AOFUBWIFWfuaw"

In [36]:
#no of unique elements in a string:
v="iabvjsv iufbuWwduF AOFUBWIFWfuaw"
c=set(v)
b=0
for i in c:
    if i != ' ':
        b+=1
b

17

In [44]:
v="iabvjsv iufbuWwduF AOFUBWIFWfuaw"
b=''
for i in v:
    if i not in b:
        b+=i
len(b)

18

In [98]:
#reverse string using reversed():
g='harish kumar'
d=''.join(reversed(g))
d

'ramuk hsirah'

In [43]:
from collections import Counter
v="iabvjsv iufbuWwduF AOFUBWIFWfuaw"
c=Counter(v)

Counter({'i': 2,
         'a': 2,
         'b': 2,
         'v': 2,
         'j': 1,
         's': 1,
         ' ': 2,
         'u': 4,
         'f': 2,
         'W': 3,
         'w': 2,
         'd': 1,
         'F': 3,
         'A': 1,
         'O': 1,
         'U': 1,
         'B': 1,
         'I': 1})

In [1]:
#enumerate
v=['lll','pp','r','p','r','lll']
k=[]
for i in len(v):
    v[i] in

SyntaxError: invalid syntax (2395887995.py, line 5)

In [53]:
def find_repeated_indices(lst):
    repeated_indices = []
    for i in range(len(lst)):
        if lst[i] in lst[:i]:                      ##############################################enumerate alternate
            print(i)
            repeated_indices.append(i)
    return repeated_indices
# Example usage:
my_list = [1, 2, 3, 2, 4, 3, 5, 5]
result = find_repeated_indices(my_list)
print(result)  # Output: [3, 5, 7]

3
5
7
[3, 5, 7]

In [59]:
a=[1,2,5,4,9,1,6,4]
b=[]
for i in a:
    if i not in b:
        b.append(i)

In [18]:
# F-Strings
a=9
b=7
print(f'the valuse of a is {a} and value of b is {b}')

the valuse of a is 9 and value of b is 7

In [19]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49.52369))

For only 49.52 dollars!

In [ ]:
a, b, c = input("Enter three values: ").split()  
print("Enter Your First Name: ", a)  
print("Enter Your Last Name: ", b)  
print("Enter Your Class: ", c)  
print()

In [ ]:
list=[1,2,3,1,2,3,5]
b=set(list)
a=[b]
addition=(int(a[0])+int(a[1])+int(a[2]))
subtraction=(int(b[-2]))
addition
list

In [25]:
# get list input,remove duplicates,add 1st 3 numbers,mul last 3 numbers,middle element expon ** 

lit=[1,2,7,8,8,6,6,0,3]
a=[*set(lit)]
x=(int(a[0])+int(a[1])+int(a[2]))
y=(int(a[-3])*int(a[-2])*int(a[-1]))
mm=len(a)/2
if mm%2==0:
    m=mm
else:
    m=mm+0.5
z=(a[int(m-1)])**(a[int(m)])
if x>y:
    div=z/x
else:
    div=z/y
division=round(div,2)
print ( f'x={x} y={y} z={z} division={division} ')

x=3 y=336 z=729 division=2.17

In [336]:
#print even numbers from a list:

a=input().split()
for num in a:
        if int(num) % 2==0:
            print(num)

5 6 8 4 9
6
8
4

In [72]:
#odd or even using map:
a=list(map(int,input().split()))
for i in a:
    if i%2==0:
        print(i)

5 4 7 5 4 8 26 55
4
4
8
26

In [3]:
#reverse a string :
a='harish kumar'
c=''
for i in a:
    c=i+c
c

'ramuk hsirah'

In [74]:
##get n number of inputs from user using for loop
a=int(input("enter the number of inputs:"))
for i in range(a):
    input()

enter the number of inputs:5
5
4
5
5
5

In [337]:
#get n number of inputs from user using while loop:

a=int(input("enter the number of inputs:"))
i=0
while a>i:
         input()
         i+=1

enter the number of inputs:5
4
2
3
5
8

In [ ]:
#copy list A to list B:
a=[1,2,3,4,5,6]
b=[]
for num in a:
    b.append(num)

In [87]:
##copy elements of list A to list B:
a=[1,2,3,4,5,6]
b=[4,9]
for i in range(len(a[:3])):
    b.append(a[i])
b

[4, 9, 1, 2, 3]

In [30]:
#print even number:
a=input('enter the number:').split()
for num in a:
    if int(num)==0:
        print( -1, end=" ")
    elif int(num) % 2 == 0:
            print(num, end=" ")

enter the number:6
6

In [11]:
# print even numbers in a list:
bb=input('enter the number').split()
d=0
while (d<len(bb)):
    if int(bb[d])==0:
        print( -1, end=" ")
    elif int(bb[d])%2==0:
        print(bb[d], end=" ")
    d+=1

enter the number0 1 2 4 0 6 3
-1 2 4 -1 6

In [342]:
#print odd even zero from a list:
a=input('enter the number:').split()
even=[]
odd=[]
zero=[]
for num in a:
    if int(num)==0:
            zero.append(num)
    elif int(num) % 2 == 0:
            even.append(num)
    elif int(num) % 2 == 1:
            odd.append(num)
     
            
print("zero digit:",zero)
print("odd numbers:",odd)
print("even numbers:",even)

enter the number:1 2 3 4 5 6 7 8 9
zero digit: []
odd numbers: ['1', '3', '5', '7', '9']
even numbers: ['2', '4', '6', '8']

In [343]:
#get no.of inputs from user and store it:

a=input("enter the number of inputs:")
b=0
while (int(a)>b):
    input("enter the number:")
    b+=1

enter the number of inputs:5
enter the number:1
enter the number:4
enter the number:5
enter the number:6
enter the number:8

In [35]:
#split string into equal parts:

a=input("enter the string:")
new=[]
b=input("enter value to check and split:" )
if len(b)==0:
    print("no string entered")
else:
        totlen=len(a)
        sub=a.count(b)
        len_div=int(totlen/sub)
        for num in range(0,totlen,len_div):
                p=a[num:num+len_div]
                new.append(p)
        xx=new[-1]
        uu=new[-2]
        lx=len(xx)
        lu=len(uu)
        print("Equal parts of given string are:") 
        for i in new:
            if lu==lx:
                print(i) 
        if lu!=lx:
            new.pop(-2)
            new.pop(-1)
        for i in new:
                print(i)
        if lu!=lx:    
            print(uu+xx)

enter the string:152152152
enter value to check and split:1
Equal parts of given string are:
152
152
152
152
152
152

In [32]:
#split string into equal parts:

a=input("enter the string:")
new=[]
b=input("enter value to check and split:" )
if len(b)==0:
    print(a)
else:
        totlen=len(a)
        sub=a.count(b)
        if sub==0:
            print("no similar string found")
        else:    
            len_div=int(totlen/sub)
            for num in range(0,totlen,len_div):
                    p=a[num:num+len_div]
                    new.append(p)
            
                    if len(new)>1: 
                        xx=new[-1]
                        uu=new[-2]
                        lx=len(xx)
                        lu=len(uu)
                    else:     
                        xx=new[-1]
                        lx=len(xx)
                        uu=new[0]
                        lu=len(uu)
                        
            print("Equal parts of given string are:")   
            if lu!=lx:    
                print(uu+xx)
            if lu!=lx:
                    if len(new)>1:
                        new.pop(-2)
                        new.pop(-1)
            for i in new:
                if lu==lx:
                    print(i) 
                if lu!=lx:
                    if len(new)>1:
                        print(i)

enter the string:1 5 6 7 8 4 9 2 6 7 6 2
enter value to check and split:6
Equal parts of given string are:
2 6 7 6 2
1 5 6 7
 8 4 9

In [41]:
list=input()
a=[]
for i in list:
    if i not in a:
        a.append(i)
print(a)

451215146151249
['4', '5', '1', '2', '6', '9']

In [350]:
x=int(input())
x1=map(int,input().split())
p=0
z=0
n=0
for i in x1:
    if i>0:
        p+=1
    if i<0:
        n+=1
    if i==0:
        z+=1
a=p/x
b=n/x
c=z/x
print(f"{a:.6f}")
print(f"{b:.6f}")
print(f"{c:.6f}")

0.400000
0.400000
0.200000

In [351]:
#sort and add list:
 
a=input().split()
a.sort()
b=int(a[0])+int(a[1])+int(a[2])+int(a[3])
c=int(a[1])+int(a[2])+int(a[3])+int(a[4])
print(b,c)

5 2 4 1 6 7 8
12 17

In [2]:
#12 hours into 24 hours
a=input()
if (a[:2] == '12') and (a[-2:]=='AM'):
    print("00" + a[2:-2])
if (a[:2] == '12') and (a[-2:]=='PM'):
     print(a[:-2])
if (a[:2]<'12') and (a[-2:]=='AM'):
    print(a[:-2])
if (a[:2]<'12') and (a[-2:]=='PM'):   
        aa= (int(a[:2])+12)
        aaa=str(aa)
        print(aaa + a[2:8])

13:18:09PM

In [14]:
#count of values from 2nd list in 1st list

a=int(input("enter the number of inputs:"))
b=[]
tb=[]
td=[]
countf=[]
for i in range(0,a):
    bb=input("enter the number:")
    tb.append(bb)     
c=int(input("enter the number of inputs:"))
for i in range(0,c):
    td = input("enter string:")
    count = 0
    for num in tb:
        if num == td:
            count = count + 1
    countf.append(count)
for count in countf:
    print(count)

enter the number of inputs:5
enter the number:1
enter the number:5
enter the number:6
enter the number:2
enter the number:8
enter the number of inputs:2
enter string:5
enter string:5
1
1

In [17]:
# print single number in a list

n=int(input())
a=list(map(int,input().split()))
r=a[0]
for i in range(1,n):
    r=r^a[i]
print(r)

5
1 2 3 4 5
1

In [20]:
# add numbers in a list, find single number in a list

def operation(nums):
    return 2*sum(set(nums))-sum(nums)


a=list(map(int,input().split()))
print(int(operation(a)))
print(type(operation))

1 2 1 2 4
4
<class 'function'>

In [ ]:
#add  values from a matrix diagonaly like an x and abs the 2 values.

n=int(input())
d=[]
for num in range(0,n):
    list=[int(i) for i in input().split()]
    d.append(list)
d1 = 0
d2 = 0
 
for i in range(0, n):
    d1 = d1 + d[i][i]
    d2 = d2 + d[i][n - i - 1]
three=abs(d1-d2)    
print(three)

'ramuk hsirah'

In [91]:
#print 100 index value(0) and count the numbers repeat in the given input 

N = int(input())

a = list(map(int, input().split()))

freq = [0]*100

for i in a:
    freq[i] = freq[i]+1


print (' '.join(map(str, freq)))
freq

5
5 2 5 4 6
0 0 1 0 1 2 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

[0,
 0,
 1,
 0,
 1,
 2,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [ ]:
#given string is pangram or not:

bb=input("enter the string:")
a=bb.lower()
b=set(a)
c=[]
for i in b:
    if i.isalpha()==True:
        c.append(i)       
if len(c)==26:
    print("pangram")
else:
    print("not pangram")

In [ ]:
#Permuting Two Arrays()

q=int(input())
ans=[]
count=0
nn=[]
for i in range(0,q):
    n,k=list(map(int,input().split()))
    a=list(map(int,input().split()))
    b=list(map(int,input().split()))
    l=len(a)
    a.sort()
    b.sort(reverse=True)
    for h in range(0,l):
        if a[h]+b[h] >= k:
            count+=1               
    ans.append(count)   
    count=0
    nn.append(n)
for m in range(0,q):
    if ans[m]==nn[m]:
           print("YES")
    else:
           print("NO")

In [ ]:
#Subarray Division (chocolate sum)

n = int(input())
s = list(map(int, input().split()))
d, m = map(int, input().split())

ans = 0
for i in range(n-m+1):
    if (sum(s[i:i+m]) == d):
        ans += 1
        
print(ans)

In [207]:
#XOR operation by adding numbers:

a=[int(x) for x in input().split()]
b=[int(x) for x in input().split()]
ans=[]
for i in range(0,len(a)):
         c= a[i]^b[i]
         ans.append(c)
y=ans[0]
print(y)

5
6
3

In [206]:
#XOR operation by adding bits:

def strings_xor(s, t):
    res = ""
    for i in range(len(s)):
        if s[i] == t[i]:
            res = '0'
        else:
            res = '1'

    return res
    print(res)
s = input()
t = input()
print(strings_xor(s, t))

5
6
0

In [38]:
#pattern right angle:
a=int(input())
b=str(a)
for i in range(1,a+1):
    d=i*("*")
    print(d)

5
*
**
***
****
*****

In [37]:
#pattern upside down right angle:
a=int(input())
b=str(a)
k=1
c=[]
for i in range(1,a+1):
    d=i*("*")
    c.append(d)
for n in range(a):
    print(str(c[a-k]))
    k+=1

5
*****
****
***
**
*

In [36]:
# pattern inverse upside down right angle
a=int(input())
b=str(a)
k=1
c=[]
j=""
for i in range(1,a+1):
    d=i*("*")
    c.append(d)
for n in range(a):
    print(j,str(c[(a)-k]))
    k+=1
    j=j+" "

5
 *****
  ****
   ***
    **
     *

In [54]:
#pattern left angle
a=int(input())
b=0
while(b<=a):
    print(" " *(a-b)+"*" * b)
    b+=1

5

    *
   **
  ***
 ****
*****

In [35]:
#pattern triangle with odd stars
a= int(input())
b = 0

for i in range(1, a+1):
    for x in range(1, (a-i)+1):
        print(end="   ")
   
    while b!=(2*i-1):      
        print("* ", end=" ")
        b += 1
    b = 0
    print()

7
                  *
               *  *  *
            *  *  *  *  *
         *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *  *  *  *  *  *

In [68]:
#pattern inverse triangle with odd numbers
rows = int(input())

for i in range(rows, 1, -1):
    for space in range(0, rows-i):
        print("  ", end="")
    for j in range(i, 2*i-1):
        print("* ", end="")
    for j in range(1, i-1):
        print("* ", end="")
    print()

6
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [43]:
#pattern cross diamond
a= int(input())
b = 0

for i in range(1, a+1):
    for x in range(1, (a-i)+1):
        print(end="   ")
   
    while a>b:      
        print("* ", end=" ")
        b += 1
    b = 0
    print()

5
            *  *  *  *  *
         *  *  *  *  *
      *  *  *  *  *
   *  *  *  *  *
*  *  *  *  *

In [53]:
#pattern cross diamond

a= int(input())
b = 0

for i in range(1, a+1):
    for x in range(1, i):
        print(end="   ")
    while a>b:      
        print("* ", end=" ")
        b += 1
    b = 0
    print()

5
*  *  *  *  *
   *  *  *  *  *
      *  *  *  *  *
         *  *  *  *  *
            *  *  *  *  *

In [83]:
#pattern triangle
a= int(input())
b = 0
k="* "
for i in range(1, a+1):
    for x in range(1, (a-i)+1):
        print(end=" ")
   
    if i<=5:      
        print(k*i, end="  ")
    print()

4
   *
  * *
 * * *
* * * *

In [82]:
#pattern triangle with odd numbers

a= int(input())
b = 0
z="* "
for i in range(1, a+1):
    for x in range(1, (a-i)+1):
        print(end=" ")
   
    if i%2==1:
        print((z*i)+(z*b),end="  ")
        b+=1
    b=0
    print()

9
        *

      * * *

    * * * * *

  * * * * * * *

* * * * * * * * *

In [210]:
#pattern diamond with odd numbers

a = int(input())
p="  "
k="* "
for x in range(a):
    print(p * (a - x), k * (2*x + 1))
for x in range(a-2 , -1, -1):
    print(p * (a - x),k * (2*x + 1))

5
           *
         * * *
       * * * * *
     * * * * * * *
   * * * * * * * * *
     * * * * * * *
       * * * * *
         * * *
           *

In [193]:
#pattern right half of diamond:

a = int(input())
p="  "
k="* "
for x in range(a+1):
    print(p * (a - x), k * (x))
for x in range(a , -1, -1):
    print(p * (a - x),k * (x))

5

         *
       * *
     * * *
   * * * *
 * * * * *
 * * * * *
   * * * *
     * * *
       * *
         *

In [199]:
#pattern right half of diamond with odd numbers:

a = int(input())
p="  "
k="* "
for x in range(a+1):
    print( k * (x),p * (a - x))
for x in range(a , -1, -1):
    print(k * (x),p * (a - x))

5

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [211]:
#pattern diamond:

a = int(input())
p="  "
k="*   "
for x in range(a):
    print(p * (a - x), k * (x))
for x in range(a , -1, -1):
    print(p * (a - x),k * (x))

5

         *
       *   *
     *   *   *
   *   *   *   *
 *   *   *   *   *
   *   *   *   *
     *   *   *
       *   *
         *

In [263]:

a = int(input())
p="  "
k="* "
b = 0
z=[]
aa=[]
for x in range(a):
    z.append(x+1)
    if x%2!=0:
        aa[0]==
        

for x in range(a):
        print(p * (a - x), k * (2*x + 1))
        b+=1
        
for x in range(a-1 , -1, -1):
    print(p * (a - x),k * (2*x + 1))
print(z)

5
           *
         * * *
       * * * * *
     * * * * * * *
   * * * * * * * * *
   * * * * * * * * *
     * * * * * * *
       * * * * *
         * * *
           *
[1, 2, 3, 4, 5]

In [284]:
#diamond with odd number:

a=int(input())
b=a//2+1
p="  "
k="* "
for i,j in zip(range (1,b+1),range(1,a+1,2)):
    print(p*(b-i),k*j)
for i,j in zip(range(1,b+1),range(a-2,-1,-2)):
    print(p*i,k*j)

9
         *
       * * *
     * * * * *
   * * * * * * *
 * * * * * * * * *
   * * * * * * *
     * * * * *
       * * *
         *

In [335]:
#buzzfizz problem:

def fizzBuzz(n):
    for i in range (1,n+1):
        if i%3==0 and i%5==0:
            print("FizzBuzz")
            continue
        elif i%3==0 and i%5!=0:
            print("Fizz")
            continue
        elif i%5==0 and i%3!=0:
            print("Buzz")
            continue
        else:
            print(i)
            continue
if __name__ == '__main__':
    n = int(input())

    fizzBuzz(n)

15
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz

In [25]:
#binary search

n=int(input())
arr=[]
j=1
k=int(input())
if n>0:
    for i in range (1,n+1):
        arr.append(j)
        j+=1
print(arr[k])
print(arr)

5
2
3
[1, 2, 3, 4, 5]

In [ ]:
""" 3 4 5 6   a b b a
    5 6 7 8   c d d c
    5 3 4 5   c d d c
    8 9 8 7   a b b a
    
    matrix big number add
"""

q = int(input().strip())

for q_itr in range(q):
    n = int(input().strip())
matrix = []
for _ in range(2 * n):
    matrix.append(list(map(int, input().rstrip().split())))
s=0
n=len(matrix)
for i in range(n//2):
    for j in range(n//2):
        s+=max(matrix[i][j],matrix[i][n-j-1],matrix[n-i-1][j],matrix[n-i-1][n-j-1])
print(s)

In [ ]:
#sort list and find middle number:

n = int(input().strip())

arr = list(map(int, input().rstrip().split()))

arr.sort()
larr=len(arr)/2
if larr/2!=0:
    i=int(larr)+int(0.5)
    j=int(arr[i])
else:
    i=larr
    j=int(arr[i])
 
print(j)

In [1]:
# list comprehension:

x = int(input())
y = int(input())
z = int(input())
n = int(input())
    
new=[[i,j,k] for i in range(0,x+1) for j in range(0,y+1) for k in range(0,z+1) if i+j+k!=n]
print(new)

1
2
3
4
[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 0, 3], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 2, 3], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 3], [1, 2, 0], [1, 2, 2], [1, 2, 3]]

In [7]:
#2nd largest number in list:

n = int(input())
arr =list( map(int, input().split()))
arr.sort()
print(arr[(arr.index(max(arr)))-1])

5
1 2 3 4 5 6
5

In [15]:
#sales by match,no. of sets in a list:
 
from collections import Counter

n = int(input())
c = Counter(map(int, input().split()))
ans = 0

for x in c:
    ans += c[x] // 2
    
print(ans)

7
1 5 2 6 1 5 1
2

In [ ]:
#finding the percentage,dictinary,sum 3 values and add 2 decimal points

n = int(input())
student_marks = {}
for _ in range(n):
    name, *line = input().split()
    scores = list(map(float, line))
    student_marks[name] = scores
query_name = input()
marks=student_marks[query_name]

#format(values,'.2f')

print(format(sum(marks)/3,'.2f'))

In [1]:
#re.split() , split numbers which has ,.!@# in them:

regex_pattern = r"[,.!@#+]" # Do not delete 'r'.

import re
print("\n".join(re.split(regex_pattern, input())))

100.092,0910@0390#987
100
092
0910
0390
987

In [ ]:
"""
Sample Input 0

12
insert 0 5
insert 1 10
insert 0 6
print
remove 6
append 9
append 1
sort
print
pop
reverse
print
"""

if __name__ == '__main__':
    N = int(input())
    x=[]
    for i in range (N):
        d=input().split()
        if d[0] == 'insert':
            x.insert(int(d[1]),int(d[2]))
        elif d[0]=='print':
            print(x)
        elif d[0]=='remove':
            x.remove(int(d[1]))
        elif d[0]=='append':
            x.append(int(d[1]))
        elif d[0]=='sort':
            x.sort()
        elif d[0]=='pop':
            x.pop()
        elif d[0]=='reverse':
            x.reverse()

In [ ]:
m=[]
ss=[]
for _ in range(int(input())):
    name = input()
    score = float(input())
    m+=[[name,score]]
    ss+=[score]
x=sorted(set(ss))[1] ##########
for n,s in (sorted(m)):
    if s==x:
    print(n)

In [ ]:
# maria game heighest score and lowest score:
input()
a = list(map(int, input().split()))
m = M = a[0]
x = y = 0
for i in a[1:]:
    if i > M:
        M = i
        x += 1
    elif i < m:
        m = i
        y += 1
print(x, y)

In [ ]:
#Count pairs in array whose sum is divisible by K:

ar=list(map(int,input().split()))
k=int(input())
count=0
for i in range(0,len(ar)):
    for j in range(i+1,len(ar)):
        if (ar[i]+ar[j])%k==0:
            count+=1
print(count)

In [ ]:
#check list b in a and print out the count:

no=int(input())
a1=[]
b1=[]
for i in range(0,no):
    a1.append(input())
no1=int(input())
for j in range(0,no1):
    b1.append(input())
t=[]
for check in b1:
    p=a1.count(check)
    t.append(p)
for f in t:
    print(f)

In [ ]:
#lonley integer in a list:

b=input()
a=list(map(int,input().split()))
r=(2*sum(set(a)))-sum(a)
print(r)

In [ ]:
#grading students by rounding marks to divisible by 5:
a=int(input())
b=[]
for i in range(a):
    temp=int(input())
    b.append(temp)
for j in b:
    if j >= 38:
        if j % 5 > 2:
            while j % 5 != 0: j += 1
    print(j)

In [ ]:
#flipping bits:

T =int(input())
for _ in range(T) :
    N = int(input())
    print(0xffffffff & ~N)

3
123
4294967172

In [16]:
#matrix x shape multiply:
a=int(input())
b=[]
for i in range(a):
    temp=list(map(int,input().split()))
    b.append(temp)
j1=0
j2=a-1
sum1=0
sum2=0
k=0
while a>k:
    sum1=sum1+b[k][j1]
    sum2=sum2+b[k][j2]
    k+=1
    j1+=1
    j2-=1
print(abs(sum1-sum2))

3
8 9 6
7 3 7
8 0 4
2

In [1]:
#no of times the number exists:

N = int(input())

arr = list(map(int, input().split()))

freq = [0]*100

for i in arr:
    freq[i] = freq[i]+1

print (' '.join(map(str, freq)))

20
45 66 88 88 88 88 77 55 99 55 66 3 2 4 5 6 7 8 9 8 7 6 5 66 88 55
0 0 1 1 1 2 2 2 2 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 3 0 0 0 0 0 0 0 0 0 0 3 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 5 0 0 0 0 0 0 0 0 0 0 1

In [14]:
# pangram or not:
a='abcdefghijklmnopqrstuvwxyz'
x=input()
def panagram(leo):
    for i in a:
        if i not in leo.lower():
            return False
    return True
if (panagram(x)== True):
    print('yes')
else:
    print('no')

WFQ8FHPQFWOQXULTFTTQEEI[OFE[LMCBAJGACXWRSWQTDQEUSALC
no

In [ ]:
#hill downhill and uphill valley count:

x=input()
a1=input()
a=a1
temp=[]
p=0
count=0
for i in a:
    if a.startswith('U'):
        a.remove(i)
for i in a:
    if i=='D':
        temp.append(-1)
    if i=='U':
        temp.append(+1)        
for j in temp:
    p+=j
    if p==0:
        count+=1
print(count)

In [ ]:
# pairs of socks using counter container:

from collections import Counter

n = int(input())
c = Counter(map(int, input().split()))
ans = 0

for x in c:
    ans += c[x] // 2
    
print(ans)

In [8]:
# list in ascending order and find the middle value [median]

a=list(map(int,input().split()))
a.sort()
b=len(a)/2
if b%1!=0:
    b+=0.5
a[int(b-1)]

5 -7 2 -9 16 10 7
[-9, -7, 2, 5, 7, 10, 16]

In [6]:
n=int(input())
a=list(map(int,input().strip().split(' ')))
a.sort()
ans=a[0]
max=1
for i in range(1,n):
    if a[i]==a[i-1]:
        count+=1
    else:
        count=1
    if count>max:
        max=count
        ans=a[i]
print(ans)

6
1 3 2 5 5 5
5

In [1]:
stt='harish kumar'
stt[:]

'harish kumar'

In [11]:
sss='my name is alka'
sss[-len(sss):]

'my name is alka'

In [17]:
s='hi world'
s[-2:-7:-2]

'lo '

In [13]:
s[::]

'dlrow ih'

In [23]:
d='##ha&%hah&*&*'
v=d.strip('#''%''*''&')
v

'ha&%hah'

In [9]:
import numpy as np
np.arange(1,3)

array([1, 2])

In [10]:
np.arange(3,6,0.5)

array([3. , 3.5, 4. , 4.5, 5. , 5.5])

In [13]:
np.random.rand(1,9)

array([[0.87686733, 0.89097188, 0.0861045 , 0.25284902, 0.0325501 ,
        0.0275286 , 0.556281  , 0.72791907, 0.38948234]])

In [19]:
import numpy as np
import pandas as pd

In [22]:
df=pd.read_csv('Dataset.csv')

In [23]:
df.shape

(13, 6)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13 entries, 0 to 12
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Candidate    13 non-null     object
 1   Gender       13 non-null     object
 2   Height       13 non-null     int64
 3   Weight       13 non-null     int64
 4   Record time  13 non-null     float64
 5   Rank         13 non-null     int64
dtypes: float64(1), int64(3), object(2)
memory usage: 752.0+ bytes

In [27]:
df.head(13)

   Candidate Gender  Height  Weight  Record time  Rank
0       Alan      M     180      55         9.12     1
1        Bob      M     185      50        10.50     3
2      Candy      F     168      52        11.50     6
3        Den      M     184      58        10.10     2
4        Ela      F     172      54        11.30     6
5      Fenny      F     169      53        10.90     5
6       Guru      M     182      60        12.30     6
7      Heena      F     175      52        10.20     2
8        Ila      F     169      55         9.80     1
9       Jack      M     186      60        11.20     4
10       Kim      F     168      51        10.40     3
11     Leena      F     164      53        10.60     4
12       Mak      M     184      64         9.90     2

In [33]:
df['Gender']

0     M
1     M
2     F
3     M
4     F
5     F
6     M
7     F
8     F
9     M
10    F
11    F
12    M
Name: Gender, dtype: object

In [34]:
df['Gender'].dtypes

dtype('O')

In [35]:
df.loc[6,['Height','Gender','Rank']]

Height    182
Gender      M
Rank        6
Name: 6, dtype: object

In [41]:
df.iloc[0:2,1:]

  Gender  Height  Weight  Record time  Rank
0      M     180      55         9.12     1
1      M     185      50        10.50     3

In [2]:
# given 2 strings perform xor operation:

def strings_xor(s, t):
    res = ""
    for i in range(len(s)):
        if s[i] == t[i]:
            res += '0'
        else:
            res += '1'

    return res

s = input()
t = input()
print(strings_xor(s, t))

10110
01010
0

In [11]:
a=int(input())
n=list(map(int,input().split()))
l=len(n)
l1=a
new=[]
k=0
for i in range(a-1):
    if l1>0:
        k=int(round(l1+1)/2)
        l1-=1
        print(l1)
        new.append(n[k])
        n.pop(k)
        k=0
new.append(n[0])
print(new)

5
4 5 6 3 9
4
3
2
1
[3, 6, 9, 5, 4]

In [8]:
ms1='*'
for i in range(1,11,2):
    print('{:>10s}'.format(ms1*i))

         *
       ***
     *****
   *******
 *********

In [7]:
ms1='*'
for i in range(1,11,2):
    print((ms1*i))

*
***
*****
*******
*********

In [20]:
s='*'
for i in range (1,11,2):
    print('{:^10s}'.format(s*i))

    *
   ***
  *****
 *******
*********

In [21]:
#key sort logic
def keysortinglogic(obj):
    if isinstance(obj,(int,float)):
        return obj
    if isinstance(obj,str):
        return len(obj)
    return 0

In [24]:
#keysorting
mylist1=[22,11,77,55,44,'hello',33,[222,333,334]]
print(mylist1)
mylist1.sort(key=keysortinglogic)
mylist1

[22, 11, 77, 55, 44, 'hello', 33, [222, 333, 334]]

[[222, 333, 334], 'hello', 11, 22, 33, 44, 55, 77]

In [ ]:
"""6. Write a program to remove space from keys of the given dictionary (use for loop)
fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}

(Output) New dictionary : {'Fruits01': 'Apple', 'Fruits02': 'Orange', 'Fruits03': 'Grapes'}"""


fruity = {'Fruits 01' : 'Apple', 'Fruits 02' : 'Orange', 'Fruits 0 3 ': 'Grapes'}
f1={}
for k in fruity:
    f1[k.replace(" ","")]=fruity[k]
print(f1)

In [1]:
#reverse a string using an empty string:
a='asdfg'
c=''
for i in a:
    c=i+c
print(c)

gfdsa

In [ ]:
#count of words program
a=list(input('enter the sentence:').split(' '))
b={}
for i in a:
    b[i]=a.count(i)
print(b)

In [3]:
#list comprehension single line if else statement even square and odd cube:
a=[1,2,3,4,5,6,7,8,9,10]
b=[i**2 if i%2==0 else i**3  for i in a ]
b

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [2]:
#factorial of 3 numbers list within list
a=[24,44,28]
b=[ [i for i in range(1,num+1) if num%i==0] for num in a]
b

[[1, 2, 3, 4, 6, 8, 12, 24], [1, 2, 4, 11, 22, 44], [1, 2, 4, 7, 14, 28]]

In [5]:
#recursive function:
def funn(n):
    if n==0:
        return 1
    return n*funn(n-1)
funn(8)

40320

In [15]:
#fabinocc series number:
def fab(n):
    if n<=0:
        return 0
    if n==1:
        return 1
    return fab(n-1)+fab(n-2)
fb=[fab(i) for i in range(10)]
print(fb)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]